////////////////////
///preset
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
}

/////////////////////
/////header-section

.section-header {
  width: 100vw;

  position: relative;
  background-color: $bg-color;
  padding: 10px 0;
}

.container {
  width: 150%;
  margin: auto;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    padding: 0 12px;
  }
}
.tex-box {
  position: absolute;
  margin-top: 8%;
}
.department {
  position: relative;
  margin-top: 50%;
  z-index: 100;
  &__headertextbox {
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }
}
.modify {
  margin-top: 50px;
}
.cta {
  padding: 40px;

  &__1 {
    background-color: $bg-color-4;
  }
  &__2 {
    background-color: $bg-color-5;
  }
  &__3 {
    background-color: $bg-color-6;
  }
  &__image1 {
    width: 100%;
  }
  &__image2 {
    width: 100%;
  }
  &__image3 {
    width: 100%;
    margin-left: 20px;
  }
  &__text {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: $text-color-3;
  }
}
.limitless {
  width: 100%;
  position: relative;
  &__box {
    position: absolute;
    top: 50%;
    left: 25%;
  }
}
.bgshape {
  width: 100%;
  margin-top: -18%;
  margin-left: -30%;
  position: relative;

  &__flower {
   
    transform: translate(0, -173%);
    text-align: center;
   
    &-img {
      width: 50%;
      height: 40%;
      margin-left: 9%;
    }
  }
}

.roundshape{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
&__img{
  width: 50%;
margin-right: -90%;


}
}
.around{
position: relative;
z-index: 100;
width: 100vw;
  text-align: center;
  margin-top: -200px;

  &__detail{
    position: relative;
    z-index: 100;
  }
}
.page{
  width: 100%;
  text-align: left;
  backface-visibility: hidden;
box-shadow: 0 0 2px rgba(0,0,0,.3);
border-radius: 5px;
background-color: $bg-color-2;
  &__photo{
    width: 100%;
  }
  &__texbox{
    padding: 20px 15px;
  &-roll{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 500;
    color: $text-color-2;
  
  }
  &-keepreading{
    &:link,
    &:visited,
    &:active{
    text-decoration: none;
    font-weight: 500;
    color: $text-color-2;
  }
  }
  }
  
}