// Bacground color

$bg-color: #fff9f3;
$bg-color-2: #fff;
$bg-color-3: #ffc178;
$bg-color-4: #f9703a;
$bg-color-5: #80be41;
$bg-color-6: #ffb258;

//Text color
$text-color: #ffc178;
$text-color-2: #5a6e79;
$text-color-3: #fff;
$text-color-4: #252c3a;
